<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                    <li><a href="{{url_for('contact') }}">Contact</a></li>
                    <li><a href ="{{url_for('logout') }}"> Logout </a> </li>
                </ul>
            </nav>
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block footer %}
            <p>&copy;2023 - Study Buddy</p>
    {% endblock %}
        
</body>
</html>