{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<img src="{{url_for('static',filename = 'icon.png')}}" alt="static/panda-93.gif">
    <h1>Study Buddy Admin Dashboard</h1>
    <p>We currently have {{ count_user }} users.</p>
    <div class = "form-center">
    <form action="" method="GET">
        <input type="text" name="search" placeholder="Search for user" id = "search">
        <input type="submit" value="Search">
    </form>
    </div>
    <div style="overflow-x:auto;">
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>UID</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.uid }}</td>
                    <td><a href="{{ url_for('getUserdata', uid=user.uid) }}">View more</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}