{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>{{ user.name }}</h1>
    <img src="{{pic}}" alt="Profile Picture">
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.age}} </p>
    <p>Major : {{ user.major }} </p>
    <p>University : {{ user.university }} </p>
    <p>Bio : {{user.bio}}</p>
    <p> UserId : {{ user.uid }} </p>
    <p><b> Buddies</b></p>
    {% for buddy in user.buddies %}
        <p><a href="{{ url_for('getUserdata', uid=buddy.uid) }}">{{ buddy.name }}</a></p>
    {% endfor %}
    <!--Find the buddies names -->
    <button onclick="window.location.href='/user/edit'">Edit</button>
    <button onclick="window.location.href='/user/delete'">Delete</button>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}

